/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica, Serif;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin: 30px;
}

h2 {
  border-bottom: 1px black solid;
  border-left: 1px black solid;
  float: right;
  text-align: center;
  width: 150px;
}

#Chicken {
  background-color: pink;
}

#Beef {
  background-color: red;
}

#Sushi {
  background-color: yellow;
}

p {
  clear: right;
  padding: 10px;  
}

.row {
  width: 100%;
}

.container {
  border: 1px solid black;
  margin: 20px;
  background-color: grey;
}

.row > div {
  float: left;
}

/********** Large devices only **********/

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
